@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply text-lg;
}

@media print {
  .text-5xl {
    @apply text-4xl;
  }

  .text-4xl {
    @apply text-3xl;
  }

  .text-2xl {
    @apply text-xl;
  }

  .page-break {
    page-break-after: always;
  }

  .print-min-width {
    min-width: 12em;
  }

  body {
    @apply text-base;
  }
}

li {
  list-style-type: disc;
  list-style-position: inside;
  
  li {
    list-style-type: square;
  }
}

a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  @apply text-blue-500 hover:text-blue-700 transition-colors duration-300 ease-in-out;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: all 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 2s ease infinite;
}
